doctype html
html
  head
    title Chronometer
    link(rel='stylesheet',href='/css/main.css',type='text/css')
    link(rel='shortcut icon', href='/images/favicon.png', type='image/x-icon')
    script(type='text/javascript', src='/js/jquery-3.1.1.min.js')
    script(type='text/javascript', src='/js/easytimer.js')
    script(type='text/javascript', src='/js/main.js')
  body
    div(id='chrono')
      div(class='values', id='chronometer', type='text')
        |00:00:00
