@font-face {
    font-family: DS-DIGIB;
    src: url(/font/DS-DIGIB.TTF);
}

#chrono {
  font-family: 'DS-DIGIB';
  font-size: 250px;
  padding-left: 16%;
  padding-top: 21%;
  border-style: none; 
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlcyI6WyJzdHlsZS5zYXNzIl0sInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgdXJsKCdodHRwczovL2ZvbnRzLmdvb2dsZWFwaXMuY29tL2Nzcz9mYW1pbHk9T3JiaXRyb24nKTtcblxuI2Nocm9ubyB7XG5cdGZvbnQtZmFtaWx5OiAnT3JiaXRyb24nO1xuXHRmb250LXNpemU6IDE5MHB4O1xuXHRwYWRkaW5nLWxlZnQ6IDExJTtcblx0cGFkZGluZy10b3A6IDIxJTtcblx0Ym9yZGVyLXN0eWxlOiBub25lOyB9XG5cbiJdLCJtYXBwaW5ncyI6IkFBQUEsT0FBTyxDQUFDLHVEQUFJO0FBRVosQUFBQSxPQUFPLENBQUM7RUFDUCxXQUFXLEVBQUUsVUFBVztFQUN4QixTQUFTLEVBQUUsS0FBTTtFQUNqQixZQUFZLEVBQUUsR0FBSTtFQUNsQixXQUFXLEVBQUUsR0FBSTtFQUNqQixZQUFZLEVBQUUsSUFBSyxHQUFHIiwibmFtZXMiOltdfQ== */
